.about-banner {
  background-image: url("../../images/about-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
}

.title-styel {
  font-size: 50px;
  font-weight: 900;
}
