.home-bg {
  background-color: rgb(0, 0, 0);
}

.card-hover {
  box-shadow: 5px 5px 10px rgb(22, 22, 22);
}

.card-hover:hover {
  background-color: rgb(15, 5, 17);
  border: 2px solid rgb(247, 237, 255);
}
